  ion-menu.md ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }

  ion-item ion-button {
    --background-hover: rgba(59, 177, 55, 0.671);
  }