<ion-content>
  <ion-slides pager="true">
    
  <!-- Slide 1 -->
  <ion-slide>
    <ion-text color="light">
      <img src="https://www.sadma.com.mx/images/car-2682233.jpg">
      <h1>Bienvenida!</h1>
      <p>Con SADMA manten control de tu dinero ...</p>
      <ion-button (click)="next()" fill="outline" color="light">Next</ion-button>
    </ion-text>
  </ion-slide>

    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <img src="https://www.sadma.com.mx/images/cleaning-1837330.jpg">
        <h1>Manual de usuario!</h1>
        <p>Con SADMA manten control de tu dinero ...</p>
        <ion-button (click)="next()" fill="outline" color="light">Next</ion-button>
      </ion-text>
    </ion-slide>

    <!-- Slide 3 -->
    <ion-slide>
      <ion-text color="light">
        <img src="https://www.sadma.com.mx/images/tabla-u108246-fr.png">
        <h1>esto es SADMA</h1>
        <p>... AQUI SE MOSTRARAN SCREEN SHOTS CON AYUDA.</p>
        <ion-button (click)="start()" fill="outline" color="light">Start</ion-button>
      </ion-text>
    </ion-slide>

  </ion-slides>
  
  </ion-content>
